<div class="background">
    <div class="content">
        <div *ngIf="(isAuth | async)">
            <h1 class="red centered">Add a story</h1>
            <div>
                <input class="title" [(ngModel)]="story.title" placeholder="title"/>
            </div>
            <br/>
            <div>
                <input class="description" [(ngModel)]="story.description" placeholder="description"/>
            </div>
            <br/>
            <input type="file" (change)="changeListener($event)" placeholder="upload image">
            <label>Display the image in the story?</label><input type="checkbox" style="width: 20px; margin-left: 10px; margin-top: 20px;"[checked]="story.show_image" (change)="story.show_image = !story.show_image" />
            <div *ngIf="!imagesUploaded" class="uploadProgress" [style.width]="uploaded" [style.margin]="margin"></div>
            <img *ngIf="imagesUploaded" src="{{ imageUrl }}">
            <input class="embed" placeholder="embed me" [(ngModel)]="stringToEmbed">
            <button (click)="embedHtml()">Embed HTML</button>
            <div id="editor" (click)="loadEditor()"></div>
            <br/>
            <br/>
            <button (click)="previewStory()">Preview Story (you must preview before submiting)</button><br/>
            <h2 class="title">{{storyPreview?.title}}</h2>
            <img *ngIf="storyPreview?.image_url && storyPreview?.show_image" src="{{storyPreview?.image_url}}">
            <div id="delta"></div>

            <button (click)="addStory()" [disabled]="isAdding || !story.title || !story.description || !story.text || !story.image_url">Submit Story</button>


        </div>
        <div *ngIf="!(isAuth | async)">
            <p>Sorry!  You don't have access to this page.  Please <a routerLink="/admin/" routerLinkActive="active">sign in</a> to add a story.</p>
        </div>
    </div>
</div>