<div class="background white">
    <div class="content">
        <div *ngIf="(isAuth | async)">
            <h3>Add a story</h3>
            <div>
                <label>title: </label>
                <input [(ngModel)]="story.title" placeholder="title"/>
            </div>
            <br/>
            <div>
                <label>description: </label>
                <input [(ngModel)]="story.description" placeholder="description"/>
            </div>
            <br/>
            <!--<div>
                <label>story: </label>
                <textarea [(ngModel)]="story.text" placeholder="story"></textarea>
            </div>-->
            <span>story: </span>
            <div id="editor" (click)="loadEditor()">
            </div>
            <br/>
            <br/>
            <input type="file" (change)="changeListener($event)">
            <br/>
            <br/>
            <div class="uploadProgress">
                {{ uploaded }}
            </div>
            <!--<div>
                <label>featured?: </label>
                <input type="checkbox" [(ngModel)]="newStory.featured"/>
            </div>-->
            <br/>
            <label>Show Image?</label><input type="checkbox" [checked]="story.show_image" (change)="story.show_image = !story.show_image" />
            <br/><br/>
            <button (click)="previewStory()">Preview Story</button><br/>

            <!--<app-story-preview [story]="story"></app-story-preview>-->
            <h2>{{storyPreview?.title}}</h2>
            <!--<strong><i>{{(story | async).description}}</i></strong>-->
            <img *ngIf="storyPreview?.image_url" src="{{storyPreview?.image_url}}">
            <!--<p>{{story?.text}}</p>-->
            <div id="delta"></div>

            <button (click)="addStory()" [disabled]="isAdding || !story.title || !story.description || !story.text">Submit Story</button>


        </div>
        <div *ngIf="!(isAuth | async)">
            <p>Sorry!  You don't have access to this page.  Please <a routerLink="/admin/" routerLinkActive="active">sign in</a> to add a story.</p>
        </div>
    </div>
</div>