<div class="collection under-overlay" *ngIf="collectionProperties | async" [ngStyle]="{'background-image': 'url(' + (collectionProperties | async)?.image_url + ')'}">  
  <div class="overlay"></div>
  <h3 class="over-overlay">{{(collectionProperties | async).title}}</h3>
  <p class="over-overlay">{{(collectionProperties | async).description}}</p>
  <div *ngIf="(isAuth | async)" class="edit over-overlay"><button (click)="toEdit()">Edit</button></div>
</div>
<div class="background speckle">
  <div class="content">
    <span *ngFor="let story of (featuredStories | async)">
      <app-featured-story-card [story]="(story | async)"></app-featured-story-card>
    </span>
    <span *ngFor="let story of (stories | async)">
      <app-story-card [story]="(story | async)"></app-story-card>  
    </span>
  </div>
</div>