div.collection {
    background: #ffffff;

    width: 100%;
    
    background-image: url(); 
    background-size: 100% auto;
    background-position: 50%;
    background-repeat: no-repeat;

    color:white;
    text-align: center;
    padding: 40px 10px;

    font-size: 22px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;

    z-index: 5;
}

.under-overlay {
    z-index: 0;
    position: relative;
}

.over-overlay{
    z-index: 10;
    position: relative;
}

.edit{
    text-align: right;
}

h3 {
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    div.collection {
        background-size: auto 150%;
    }
}