<div class="collection" *ngIf="collectionProperties | async">
  <h3>{{(collectionProperties | async).title}}</h3>
  <img *ngIf="(collectionProperties | async)?.image_url" src="{{(collectionProperties | async)?.image_url}}">
  <p>{{(collectionProperties | async).description}}<p>
  <span *ngIf="(isAuth | async)">
    <br/>
    <button (click)="toEdit()">Edit</button>  
  </span>
</div>
<div>
  <h3>Featured Stories:</h3>
  <ul>
    <li *ngFor="let story of (featuredStories | async)">
      <app-featured-story-card [story]="(story | async)"></app-featured-story-card>
    </li>
  </ul>
</div>
<div>
  <h3>Stories:</h3>
  <ul>
    <li *ngFor="let story of (stories | async)">
      <app-featured-story-card *ngIf="(story | async)?.featured" [story]="(story | async)"></app-featured-story-card>
      <app-story-card *ngIf="!(story | async)?.featured" [story]="(story | async)"></app-story-card>  
    </li>
  </ul>
</div>