.email-banner {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.red {
    background: #F8503F;
    background-image: url("./assets/images/pattern_red.png");
    background-repeat: repeat;
    background-size: 80px 40px;
}

.green {
    background: #7ED2C4;
    background-image: url("./assets/images/pattern_green.png");
    background-repeat: repeat;
    background-size: 80px 40px;
}

label {
    font-family: "Butler";
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.31px;
    position: relative;
    left: 2px;
    top: 3px;
    vertical-align: top;
}

input {
    border: 0;
    height: 35px;
    width: 200px;
    font-family: Arial;
    font-size: 15px;
    color: #666;
    letter-spacing: 0.16px;
    padding: 5px 20px;
    box-sizing: border-box;
    position: relative;
    left: 2px;
    vertical-align: top;
    border-radius: 0;
}

button {
    margin: 0;
    border: 0;
    height: 35px;
    width: 100px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.18px;
    font-family: "Butler";
    font-weight: 500;
    vertical-align: top;
    position: relative;
    left: -2px;
    cursor: pointer;
}

.red button {
    background: #2C4263;
}

.green button {
    background: #FE6859;
}

.label {
    display: inline-block;
    margin-right: 30px;
}

.input {
    display: inline-block;
    position: relative;
}

.message {
    position: absolute;
    background: #DF3333;
    color: #fff;
    font-family: "Arial";
    left: 2px;
    width: 200px;
    text-align: left;
}

.button {
    position: absolute;
    background: #DF3333;
    color: #fff;
    font-family: "Arial";
    left: 164px;
    width: 38px;
    text-align: center;
}

.invalid {
    background: #DF3333;
}

.button.invalid:hover {
    background: #C82D2D;
}

.valid {
    background: #22C196;
}

.button.valid:hover {
    background: #1EAC86;
}

@media all and (max-width: 720px) {
    .email-banner {
    }

    .label {
        display: block;
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .input {
        display: block;
    }

    input {
        width: 196px;
    }
}

