<app-on-the-road></app-on-the-road>
<div class="background">
    <div class="content">
      <h2>Our goal is to foster intergenerational communities by producing creative content centered around the lives and stories of older adults. </h2>
      <p>We believe both young and old have valuable perspectives to offer one another, but in our society there is little exchange between the two generations.  It is our hope that by creating a dedicated space for such content, we can reduce social isolation among seniors and bridge an ever-growing generational divide.</p>
      <h1 class="red centered" id="why" style="margin-bottom: 0">Why we're doing it</h1>
    </div>
</div>
<div class="reasons">
      <div class="reason" id="intergenerational" [style.height]="intergenerational.bg.height" (click)="intergenerational_clicked()">
        <div class="cover" [style.background]="intergenerational.cover.background" [style.height]="intergenerational.cover.height" [style.padding]="intergenerational.cover.padding">
          <h2 class="white">Foster Intergenerational Relationships</h2>
          <img [style.transform]="intergenerational.triangle.transform" src="assets/images/triangle.svg">
        </div>
      </div>

      <div class="text" id="intergenerational-text" [style.display]="intergenerational.text.display">
        <h2 class="red">The generational divide is growing.</h2>
        <p>While it was once commonplace for grandparents to live with their younger relatives, 88% of grandparents now live apart from their families.  As older generations become more isolated, younger generations begin to see them as distant and intimidating to approach.</p>
        <h2 class="red">Both young and old can benefit from intergenerational relationships.</h2>
        <p>Listening to stories allows the young to learn from the experience of older adults, alleviating fears of growing old and of seniors themselves.  Older adults can gain a sense of inclusion and new energy from increased social interactions with younger generations.</p>
        <div class="centered pointer" (click)="intergenerational_clicked()">
          <img src="assets/images/triangle_red_up.svg">
          <div class="show-less">show less</div>
        </div>
      </div>

      <div class="reason" id="loneliness" [style.height]="loneliness.bg.height" (click)="loneliness_clicked()">
        <div class="cover" [style.background]="loneliness.cover.background" [style.height]="loneliness.cover.height" [style.padding]="loneliness.cover.padding">
          <h2 class="white">Reduce Loneliness and Isolation</h2>
          <img [style.transform]="loneliness.triangle.transform" src="assets/images/triangle.svg">
        </div>
      </div>

      <div class="text" id="loneliness-text" [style.display]="loneliness.text.display">
        <h2 class="red">Isolation and loneliness is an epidemic. 42% of older Americans report feelings of loneliness.</h2>
        <p>Loneliness is dangerous.  Research suggests that feelings of isolation can double mortality rates and trigger dementia, high blood pressure, alcoholism, depression, anxiety, paranoia, and suicide.</p>
        <h2 class="red">Storytelling can help fight loneliness.</h2>
        <p>Storytelling, in the form of reminiscence therapy, can be a powerful tool in alleviating feelings of social isolation.</p>
        <p class="block-quote">For older adults, talking about the good old days may be one of the best defenses against loneliness and depression, researchers says. And it’s drug free.</p>
        <p class="quoted">-Adriana Barton, The Globe and Mail</p>
        <div class="centered pointer" (click)="loneliness_clicked()">
          <img src="assets/images/triangle_red_up.svg">
          <div class="show-less">show less</div>
        </div>
      </div>
</div>

<div style="padding: 0 40px 60px; text-align: center">
  <h2>Want to help us with our mission?</h2>
  <a target="_blank" (click)="handleOutboundLinkClicks('donate')" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=54MM2PE23CTEC"><div class="join-us-button">DONATE</div></a>
</div>

<div class="banner">
  <h1 id="partners">Our Partners</h1>
</div>
<div class="background">
    <div class="content">
      
      <div class="partner-card">
        <div class="image" id="phh"></div>
        <div class="info">
          <!--<h3 class="name">Purple Heart Homes</h3>-->
          <img class="logo" src="assets/images/phh_logo.png">
          <div class="description">Purple Heart Homes is a 501(c)3 public charity dedicated to providing housing for Service Connected Disabled Veterans that is substantial in function, design, and of a quality fit to welcome home the fighting men and women of America.<br/>We’re helping them preserve and honor the stories of the many veterans they serve.</div>
          <div class="site"><a target="_blank" href="https://purplehearthomesusa.org/">purplehearthomesusa.org</a></div>
        </div>
      </div>

      <h2 class="join-us">Why you should join our quest</h2>
      <p>As we develop tools and resources to make storytelling a breeze, we’re looking for partners to join us in our pilot as story-gatherers.</p>
      <p>As an institution, you will benefit from increased web presence and brand exposure with each story gathered, as well as have access to a trove of marketable content for your own channels.</p>
      <p>Join us on our journey to change perspectives on aging and to preserve the stories of older adults!</p>
      <div class="centered"><a (click)="handleOutboundLinkClicks('join-us-partners')" target="_blank" href="https://ramblinstories.typeform.com/to/tRycXt"><div class="join-us-button">Join Us!</div></a></div>
    </div>
</div>