<app-on-the-road></app-on-the-road>
<div class="background">
    <div class="content">
      <img class="bracket" src="./assets/images/bracket.svg">
      <h1 class="title">Isolation and loneliness is an epidemic.42% of older Americans report feelings of loneliness.</h1>
      <p>Loneliness is dangerous.  Research suggests that feelings of loneliness can double mortality rates and trigger demetia, high blood pressure, alcoholism, depression, anxiety, paranoia, and suicide.</p>
      <h2>Storytelling can help fight loneliness.</h2>
      <p class="before-block">Storytelling, in the form of reminiscense therapy, can be a powerful tool in alleviating feelings of social isolation.</p>
      <p class="block-quote">For older adults, talking about the good old days may be one of the best defenses against lonlieness and depression, researchers says. And it’s drug free.</p>
      <p class="quoted">-Adriana Barton, The Globe and Mail</p>
      <h2>Ramblin is a publication focused on sharing the stories of older adults</h2>
      <p>We hope that by providing a dedicated space for older adults and their memories, we can fight social isolation and reconnect them with their communities.</p>
      <p>To embody that mission first hand we’re traveling across the country gathering the stories of the seniors we meet along the way.  We hope that by sharing their legacies, we can inspire greater intergenerational exchange between families, friends, and neighbors.</p>
    </div>
</div>
<div class="banner">
  <h1 id="partners">Partners</h1>
</div>
<div class="background">
    <div class="content">
      <h2 class="join-us">Why you should join our quest</h2>
      <p>As we develop tools and resources to make storytelling a breeze, we’re looking for partners to join us in our pilot as storygatherers.</p>
      <p>As an institution, you will benefit from increased web presence and brand exposure with each story gathered, as well as have access to a trove of marketable content for your own channels.</p>
      <p>Join us on our journey to change perspectives on aging, and preserve the stories of older adults!</p>
      <div class="centered"><a target="_blank" href="https://ramblinstories.typeform.com/to/tRycXt"><div class="join-us-button">Join Us!</div></a></div>
    </div>
</div>