<div class="background" id="related-background">
  <div class="content">
        <div *ngIf="shouldDisplay" class="others">Other stories tagged "{{collection?.title}}"</div>
        <span *ngFor="let story of (relatedStories | async); let first = first;">
            <app-story-card *ngIf="first" [story]="(story | async)" [position]="'left'"></app-story-card> 
            <app-story-card *ngIf="!first" [story]="(story | async)" [position]="'right'" [smaller]="'smaller'"></app-story-card>  
        </span>
  </div>
</div>