.banner {
    width: 100%;
    height: 400px;
    padding: 40px 60px;
    text-align: center;
    background: #F8503F;
    background-image: url("./assets/images/pattern_red.png");
    background-size: 80px 40px;
    background-repeat: repeat;
}

.banner-text {
    text-align: left;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px 40px 40px 40px;
    color: #fff;
    font-family: "Butler";
    font-weight: 500;
    font-size: 24px;
}

h1 {
    margin: 0 auto 30px auto;
    font-family: "Phosphate";
}

.share-your-story {
    margin: 0 auto;
    border-top: 1px solid #a7f1e6;
    border-left: 1px solid #a7f1e6;
    border-right: 1px solid #59B5A8;
    border-bottom: 1px solid #59B5A8;
    /*border: 0;*/
    box-shadow: 0;
    background: #65C3B6;
    width: 320;
    font-family: "Butler";
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.31px;
    padding: 11px 60px 7px 60px;
    text-align: center;
}

.share-your-story:hover {
    background: #59B5A8;
}

.triangles {
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}

.triangles img {
    min-width: 2160px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

hr {
    margin: 60px auto;
}

.load-more {
    margin: -82px auto 33px auto;
}

@media only screen and (max-width: 640px) {
    .banner {
        padding: 30px 20px;
        height: 455px;
    }

    .banner-text {
        padding: 20px 20px 40px 20px;
        font-size: 22px;
    }

    h1{
        font-size: 38px;
        margin-bottom: 20px;
    }

    .share-your-story {
        font-size: 20px;
        letter-spacing: 0.31px;
        line-height: 20px;
        padding: 11px 30px 7px 30px;
    }
}