.banner {
    width: 100%;
    height: 400px;
    padding: 40px 20px;
    text-align: center;
    background: #445A75;
    background-image: url(/assets/images/pattern_stars_blue.png);
    /*background-size: 80px 40px;*/
    background-repeat: repeat;
}

.banner-text {
    text-align: left;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px 0px 40px 0px;
    color: #fff;
    font-family: "Butler";
    font-weight: 500;
    font-size: 30px;
}

h1 {
    margin: 0 auto 30px auto;
    font-family: "Phosphate";
}

a {
    text-decoration: none;
}

.share-your-story {
    margin: 0 auto;
    border-top: 1px solid #FF7575;
    border-left: 1px solid #FF7575;
    border-right: 1px solid #D94F4F;
    border-bottom: 1px solid #D94F4F;
    /*border: 0;*/
    box-shadow: 0;
    background: #ff5e5e;
    max-width: 320px;
    font-family: "Butler";
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.31px;
    padding: 11px 10px 7px 10px;
    text-align: center;
}

.share-your-story:hover {
    background: #D94F4F;
}

.triangles {
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
}

.triangles img {
    min-width: 2160px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

hr {
    margin: 60px auto;
}

.load-more {
    margin: -82px auto 33px auto;
}

.email-input {
    height: 160px;
    margin: 35px auto 60px auto;
}

@media all and (max-width: 720px) {
    .email-input {
        height: 105px;
        margin: 15px auto 40px auto;
    }
}

@media only screen and (max-width: 640px) {
    .banner {
        padding: 30px 20px;
        height: 455px;
    }

    .banner-text {
        padding: 20px 0px 40px 0px;
        font-size: 24px;
    }

    h1{
        font-size: 38px;
        margin-bottom: 20px;
    }

    .share-your-story {
        font-size: 20px;
        letter-spacing: 0.31px;
        line-height: 20px;
        padding: 11px 20px 7px 20px;
    }
}