<div class="background speckle">
  <div class="content">
    <span *ngFor="let story of (stories | async); let index = index;">
      <app-featured-story-card *ngIf="(index % 7) == 0" [storyString]="story"></app-featured-story-card>
      <app-story-card *ngIf="(index % 7) != 0" [storyString]="story"></app-story-card>
    </span>
    <!--This is a hack you should probably figure out the right way to do it-->
    <div *ngIf="!isLoadingNext && ((stories | async)?.length % 7 == 0)" class="load-more" (click)="moreStories()">Load More</div>
    <div *ngIf="isLoadingNext" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>