textarea {
    width: 100%;
    min-height: 400px;
}

input {
    width: 100%;
    border: 0;
    padding: 0;
    box-shadow: 0;
    outline: none;
}

input.title {
    font-family: "Butler";
    font-size: 32px;
    color: #444;
    letter-spacing: 0.42px;
    font-weight: 400;
}

input.description {
    font-family: "Butler";
    font-size: 24px;
    color: #666;
    letter-spacing: 0.42px;
    font-weight: 400;
}

input.place {
    font-family: "Butler";
    font-size: 18px;
    color: #666;
    letter-spacing: 0.42px;
    font-weight: 400;
    width: 110px;
    display: inline-block;
}

input.placetitle {
    font-family: "Butler";
    font-size: 18px;
    color: #444;
    letter-spacing: 0.42px;
    font-weight: 400;
    display: block;
}

input.embed {
    font-family: "Butler";
    font-size: 18px;
    color: #666;
    letter-spacing: 0.42px;
    font-weight: 400;
}

.title {
    font-size: 32px;
    color: #444;
    letter-spacing: 0.42px;
    font-weight: 400;
}

.uploadProgress {
    height: 20px;
    background: #8ccdff;
    width: 0px;
    transition: all .16s ease-in-out;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    width: 100%;
    margin: 20px auto 40px auto;
}

#editor {
    height: 500px;
    width: 100%;
    background: #fff;
    padding: 0;
    border: 0;
}

p, .ql-container {
    white-space: pre-wrap;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    color: #444;
    letter-spacing: 0.26px;
    line-height: 35px;
    margin-bottom: 40px;
}

.ql-container.ql-editor {
    padding: 0;
}

@media only screen and (max-width: 640px) {
    img {
        margin: 0 auto 20px auto;
    }

    p, .ql-container {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}