<div class="background">
  <div class="content">
    <h1 class="red centered">Edit story</h1>
    <div *ngIf="(isAuth | async)">
      <!--
        hack to get the story object asycronously without having to subscribe 
        maybe we can fix with forms?
      -->
      <div *ngFor="let storyObject of (story | async)">
        <div>
          <input class="title" [(ngModel)]="storyObject.title" placeholder="title"/>
        </div>
        <br/>
        <div>
            <input class="description" [(ngModel)]="storyObject.description" placeholder="description">
        </div>
        <br/>
        <label> Upload New Photo?</label>
        <input type="file" (change)="changeListener($event)" placeholder="upload image">
        <label>Display the image in the story?</label><input type="checkbox" style="width: 20px; margin-left: 10px; margin-top: 20px;"[checked]="storyObject.show_image" (change)="storyObject.show_image = !storyObject.show_image" />
        <div *ngIf="!imagesUploaded" class="uploadProgress" [style.width]="uploaded" [style.margin]="margin"></div>
        <img src="{{imageUrl}}">
        <input class="embed" placeholder="embed me" [(ngModel)]="stringToEmbed">
        <button (click)="embedHtml()">Embed HTML</button>
        <div>
          <div id="editor"></div>
        </div>
        <br/>
        <button *ngIf="(!storyObject.featured)" (click)="featureStory(storyObject)">FeatureStory</button>
        <button *ngIf="(storyObject.featured)" (click)="unfeatureStory(storyObject)">UnfeatureStory</button>
        <br/><br/>
        <button (click)="updateStory(storyObject)">Update Story</button>
        <button (click)="deleteStory(storyObject)">Delete Story</button>
        <hr/>
        <h4>Collections</h4>
        <ul>
          <li *ngFor="let collection of (collections | async)">
            <button (click)="addToCollection(storyObject, collection)">Add to {{collection.properties.title}}</button>
            <button (click)="removeFromCollection(storyObject, collection)">Remove from {{collection.properties.title}}</button>
            <br/>
            <button (click)="featureInCollection(storyObject, collection)">Feature in {{collection.properties.title}}</button>
            <button (click)="unfeatureInCollection(storyObject, collection)">Unfeature in {{collection.properties.title}}</button>
            <br/><br/>
          </li>
        </ul>
        <hr/>
        <button (click)="goBack()">Back</button>
      </div>
    </div>
    <div *ngIf="!(isAuth | async)">
      <p>Sorry!  You don't have access to this page.  Please <a routerLink="/admin/" routerLinkActive="active">sign in</a> to edit story details.</p>
    </div>
  </div>
</div>