<div class="background footer">
  <div class="content">
    <nav>
      <div class="col">
        <div class="title">Site</div>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/stories/" routerLinkActive="active">Stories</a>
        <a routerLink="/collections/" routerLinkActive="active">Collections</a>
      </div>
      <div class="col">
        <div class="title">Team</div>
        <a routerLink="/about/" routerLinkActive="active">About</a>
        <a routerLink="/" routerLinkActive="active">Contact Us</a>
        <a routerLink="/help/" routerLinkActive="active">Faq</a>
      </div>
      <div class="col">
        <div class="title">Company</div>
        <a routerLink="/" routerLinkActive="active">Terms of Service</a>
        <a routerLink="/" routerLinkActive="active">Partnership</a>
        <a routerLink="/" routerLinkActive="active">Press</a>
      </div>
      <div class="col">
        <div class="title">Follow</div>
        <a routerLink="/" routerLinkActive="active">Instagram</a>
        <a routerLink="/" routerLinkActive="active">Facebook</a>
        <a routerLink="/" routerLinkActive="active">Twitter</a>
      </div>
    </nav>
  </div>
</div>