<div class="background footer" [style.display]="display">
  <div class="brand">
    <a routerLink="/" routerLinkActive="active">Ramblin</a>
    <div>
      <a (click)="handleOutboundLinkClicks('facebook-footer')" target="_blank" href="https://www.facebook.com/ramblinstories"><img src="./assets/images/socialmedia/facebook.svg"></a>
      <a (click)="handleOutboundLinkClicks('twitter-footer')" target="_blank" href="https://twitter.com/ramblinstories"><img src="./assets/images/socialmedia/Twitter.svg"></a>
      <a (click)="handleOutboundLinkClicks('instagram-footer')" target="_blank" href="https://www.instagram.com/ramblinstories"><img src="./assets/images/socialmedia/instagram.svg"></a>
      <a routerLink="/contact/" routerLinkActive="active"><img src="./assets/images/socialmedia/Email.svg"></a>
      <a (click)="handleOutboundLinkClicks('pinterest-footer')" target="_blank" href="https://www.pinterest.com/ramblinstories/"><img src="./assets/images/socialmedia/Pinterest.svg"></a>
      <!--<a (click)="handleOutboundLinkClicks('snapchat-footer')" target="_blank" href="https://www.snapchat.com/add/markiev"><img src="./assets/images/socialmedia/Snapchat.svg"></a>-->
      <a (click)="handleOutboundLinkClicks('medium-footer')" target="_blank" href="https://medium.com/ramblin-stories"><img src="./assets/images/socialmedia/medium.svg"></a>
    </div>
  </div>
  <nav>
    <div class="col">
      <div class="title">Site</div>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/stories/" routerLinkActive="active">Stories</a>
      <a routerLink="/map/" routerLinkActive="active">Map</a>
    </div>
    <div class="col">
      <div class="title">Company</div>
      <a routerLink="/about/" routerLinkActive="active">About</a>
      <a routerLink="/team/" routerLinkActive="active">Team</a>
      <a routerLink="/contact/" routerLinkActive="active">Contact</a>
    </div>
    <div class="col">
      <div class="title">Other</div>
      <a routerLink="/about/" fragment="partners" routerLinkActive="active">Partnership</a>
      <a routerLink="/faq/" routerLinkActive="active">FAQ</a>
      <a routerLink="/terms-of-use/" routerLinkActive="active">Terms of Use</a>
    </div>
  </nav>
</div>