<div class="background footer">
  <div class="brand">
    <a routerLink="/" routerLinkActive="active">Ramblin</a>
    <div>
      <img src="./assets/images/socialmedia/facebook.svg">
      <img src="./assets/images/socialmedia/Twitter.svg">
      <img src="./assets/images/socialmedia/instagram.svg">
      <img src="./assets/images/socialmedia/Email.svg">
      <img src="./assets/images/socialmedia/Pinterest.svg">
      <img src="./assets/images/socialmedia/Snapchat.svg">
      <img src="./assets/images/socialmedia/medium.svg">
    </div>
  </div>
  <nav>
    <div class="col">
      <div class="title">Site</div>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/stories/" routerLinkActive="active">Stories</a>
      <a routerLink="/help/" routerLinkActive="active">FAQ</a>
    </div>
    <div class="col">
      <div class="title">Company</div>
      <a routerLink="/about/" routerLinkActive="active">About</a>
      <a routerLink="/team/" routerLinkActive="active">Team</a>
      <a routerLink="/contact/" routerLinkActive="active">Contact</a>
    </div>
    <div class="col">
      <div class="title">Legal</div>
      <a routerLink="/" routerLinkActive="active">Terms of Use</a>
      <a routerLink="/" routerLinkActive="active">Partnership</a>
    </div>
  </nav>
</div>