<a id="proxyAnchor-twitter-{{storycard?.$key}}" style="display:none;" href="https://twitter.com/intent/tweet?url=http://ramblinstories.com/stories/{{storycard?.$key}}/&text={{storycard?.title}}">proxy</a>
<a target="_blank"  id="proxyAnchor-pinterest-{{storycard?.$key}}" style="display:none;" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=http://ramblinstories.com/stories/{{storycard?.$key}}/&media={{encodeURL(storycard?.image_url)}}&description={{storycard?.title}}" data-pin-shape="round"></a>
<!--<div class="card" (click)="goToDetail(story?.$key)">
  <div class="image" *ngIf="story?.image_url" [ngStyle]="{'background-image': 'url(' + story?.image_url + ')'}">
    <div *ngIf="story?.featured && !(noShowStar)" class="bursts">
      <img class="banner" src="assets/images/banner.png">
    </div>
    <div *ngIf="!story?.featured && !(noShowStar)" class="bar"></div>
    <div *ngIf="story?.featured || (noShowStar)" class="bar feature"></div>
  </div>
  <div class="story under-overlay">
    <h3>{{story?.title}}</h3>
    <div class="description"><strong><i>{{story?.description}}</i></strong></div>
    <div class="overlay">
      <div *ngIf="story?.featuredCollections.length > 0">Featured in:&nbsp;
        <span *ngFor="let key of story?.featuredCollections; let last = last">
          <a (click)="goToCollection(key)">
            <i>{{story?.featuredCollectionsObject[key]}}</i>
          </a>
          <span *ngIf="!last">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span *ngIf="last"><br/></span>
        </span>
      </div>
      <div *ngIf="story?.collections.length > 0">Found in:&nbsp;
        <span *ngFor="let key of story?.collections; let last = last">
          <a (click)="goToCollection(key)">
            <i>{{story?.collectionsObject[key]}}</i>
          </a>
          <span *ngIf="!last">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        </span>
      </div>
      <div class="read-more">
        <span class="underline">Read More</span>
        <span class="social-media">
          <a (click)="facebook($event)"><img class="social-media-icon" src="assets/images/fb.svg"></a>
          <a (click)="stopProp($event)"><img class="social-media-icon" src="assets/images/twitter.svg"></a>
        </span>
      </div>
    </div> 
  </div>
</div>-->
<div class="story" (click)="goToDetail(storycard?.$key)">
  <div class="image" [ngStyle]="{'background-image': 'url(' + storycard?.image_url + ')'}">
    <div class="outline">  </div>
  </div>
  <div class="card">
    <h2>{{storycard?.title}}</h2>
    <div class="social-media">
      <hr/>
      <div class="icons">
        <a (click)="facebook($event)"><img class="social-media-icon" src="assets/images/socialmedia/facebook-color.svg"></a>
        <a (click)="stopPropTwitter($event)"><img class="social-media-icon" src="assets/images/socialmedia/twitter-color.svg"></a>
        <!--<a><img class="social-media-icon" src="assets/images/socialmedia/Email-Color.svg"></a>-->
        <a (click)="stopPropPinterest($event)"><img class="social-media-icon" src="assets/images/socialmedia/Pinterest-Color.svg"></a>
      </div>
    </div>
    <div class="tags">
      <!--<span *ngFor="let key of story?.featuredCollections; let last = last"><a (click)="goToCollection(key)">{{story?.featuredCollectionsObject[key]}}</a><span *ngIf="!last || (last && story?.collections.length > 0)"> | </span></span>
      <span *ngFor="let key of story?.collections; let last = last"><a (click)="goToCollection(key)">{{story?.collectionsObject[key]}}</a><span *ngIf="!last"> | </span></span>-->
      <span *ngFor="let key of storycard?.featuredCollections; let last = last">{{storycard?.featuredCollectionsObject[key]}}<span *ngIf="!last || (last && storycard?.collections.length > 0)"> | </span></span>
      <span *ngFor="let key of storycard?.collections; let last = last">{{storycard?.collectionsObject[key]}}<span *ngIf="!last"> | </span></span>
    </div>
  </div>
</div>