<div class="card" (click)="goToDetail(story?.$key)">
  <div class="image" *ngIf="story?.image_url" [ngStyle]="{'background-image': 'url(' + story?.image_url + ')'}">
    <div *ngIf="story?.featured && !(noShowStar)" class="bursts">
      <div class="featured"></div>
    </div>
  </div>
  <div class="story under-overlay">
    <h3>{{story?.title}}</h3>
    <div class="description"><strong><i>{{story?.description}}</i></strong></div>
    <div class="overlay">
      <span *ngIf="story?.featuredCollections.length > 0">Featured in:&nbsp;
        <span *ngFor="let key of story?.featuredCollections; let last = last">
          <a (click)="goToCollection(key)">
            <i>{{story?.featuredCollectionsObject[key]}}</i>
          </a>
          <span *ngIf="!last">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span *ngIf="!last"><br/></span>
        </span>
      </span>
      <span *ngIf="story?.collections.length > 0">Found in:&nbsp;
        <span *ngFor="let key of story?.collections; let last = last">
          <a (click)="goToCollection(key)">
            <i>{{story?.collectionsObject[key]}}</i>
          </a>
          <span *ngIf="!last">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        </span>
      </span>
    </div> 
  </div>
</div>