<a id="proxyAnchor-{{story?.$key}}" style="display:none;" href="https://twitter.com/intent/tweet?url=https://markvalentine.github.io/zinnia-stories{{this.router.url}}&text={{story?.title}}">proxy</a>
<div class="card" (click)="goToDetail(story?.$key)">
  <div class="image" *ngIf="story?.image_url" [ngStyle]="{'background-image': 'url(' + story?.image_url + ')'}">
    <div class="bursts">
      <div *ngIf="story?.featured && !(noShowStar)"  class="featured">
        Featured Story<br/>
        <a (click)="facebook($event)"><img class="social-media-icon" src="assets/images/fb-white.svg"></a>
        <a (click)="stopProp($event)"><img class="social-media-icon" src="assets/images/twitter-white.svg"></a>
      </div>
      <div *ngIf="!story?.featured || (noShowStar)"  class="unfeatured">
        <a (click)="facebook($event)"><img class="social-media-icon" src="assets/images/fb-white.svg"></a>
        <a (click)="stopProp($event)"><img class="social-media-icon" src="assets/images/twitter-white.svg"></a>
      </div>
    </div>
  </div>
  <div class="content">
    <h4>{{story?.title}}</h4>
    <p>{{story?.description}}</p>
    <div class="overlay">
      <div class="read-more">Read More</div>
    </div>
  </div>
  <!--<div *ngIf="story?.featuredCollections?.length > 0">
    <h5>Featured In:</h5>
    <ul>
      <li *ngFor="let featuredCollection of story?.featuredCollections">{{featuredCollection}}</li>
    </ul>
  </div>-->
</div>