<a id="proxyAnchor-twitter-{{storycard?.$key}}" style="display:none;" href="https://twitter.com/intent/tweet?url=http://ramblinstories.com{{this.router.url}}&text={{storycard?.title}}">proxy</a>
<a  target="_blank"  id="proxyAnchor-pinterest-{{storycard?.$key}}" style="display:none;" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=http://ramblinstories.com{{this.router.url}}/&media={{encodeURL(storycard?.image_url)}}&description={{storycard?.title}}" data-pin-shape="round"></a>

<div class="story {{position}} {{smaller}}" (click)="goToDetail(storycard?.$key)">
  <div class="image" [ngStyle]="{'background-image': 'url(' + storycard?.image_url + ')'}"> </div>
  <div class="card">
    <h2>{{storycard?.title}}</h2>
    <div class="social-media">
      <hr/>
      <div class="icons">
        <a (click)="facebook($event)"><img class="social-media-icon" src="assets/images/socialmedia/facebook-color.svg"></a>
        <a (click)="stopPropTwitter($event)"><img class="social-media-icon" src="assets/images/socialmedia/twitter-color.svg"></a>
        <!--<a><img class="social-media-icon" src="assets/images/socialmedia/Email-Color.svg"></a>-->
        <a (click)="stopPropPinterest($event)"><img class="social-media-icon" src="assets/images/socialmedia/Pinterest-Color.svg"></a>
      </div>
    </div>
    <div class="tags">
      <span *ngFor="let key of storycard?.featuredCollections; let last = last">{{storycard?.featuredCollectionsObject[key]}}<span *ngIf="!last || (last && storycard?.collections.length > 0)"> | </span></span>
      <span *ngFor="let key of storycard?.collections; let last = last">{{storycard?.collectionsObject[key]}}<span *ngIf="!last"> | </span></span>
    </div>
  </div>
</div>