<agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
  <span *ngFor="let location of (locations | async)">
    <agm-marker *ngIf="!location['current']" [latitude]="location['lat']" [longitude]="location['lng']" [iconUrl]="'assets/images/teepee_red.svg'"></agm-marker>
    <agm-marker *ngIf="location['current']" [latitude]="location['lat']" [longitude]="location['lng']" [iconUrl]="'assets/images/truck.svg'">
      <agm-info-window >This is us!</agm-info-window>
    </agm-marker>
  </span>
  <agm-marker *ngFor="let card of (cards | async)" [latitude]="card.lat" [longitude]="card.lng" [iconUrl]="'assets/images/marker2.svg'">
    <agm-info-window >
      <div (click)="goToDetail(card.$key)">
        <h2>{{card.title}}</h2>
        <img src="{{card.image_url}}">
        <p>{{card.description}}</p>
        <a>View the full story</a>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>