<agm-map #gm [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
  <span *ngFor="let camp of (camps | async)">
    <agm-marker *ngIf="!camp.current" [latitude]="camp.lat" [longitude]="camp.lng" [iconUrl]="'assets/images/camp.svg'" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow;">
      <agm-info-window #infoWindow><div style="max-width: 200px"><h3 style="margin: 0 0 15px 0;">{{camp.title}}</h3>Each dot represents a place we've camped on our journey.<br/><br/>Look for the truck to find our current location!</div></agm-info-window>
    </agm-marker>
    <agm-marker *ngIf="camp.current" [latitude]="camp.lat" [longitude]="camp.lng" [iconUrl]="'assets/images/truck.svg'" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow;">
      <agm-info-window #infoWindow><div style="max-width: 200px"><h3 style="margin: 0 0 15px 0;">{{camp.title}}</h3>We're currently gathering stories here in {{camp.title}}.<br/><br/>Check out the red dots to see the other places we've visited on our journey!</div></agm-info-window>
    </agm-marker>
  </span>
  <agm-marker *ngFor="let card of (cards | async)" [latitude]="card.lat" [longitude]="card.lng" [iconUrl]="'assets/images/marker2.svg'" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow;">
    <agm-info-window #infoWindow>
      <div (click)="goToDetail(card.$key)">
        <h2>{{card.title}}</h2>
        <img src="{{card.image_url}}">
        <p>{{card.description}}</p>
        <a>View the full story</a>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>