<!--<div>
  <nav>
    <a class="home" routerLink="/" routerLinkActive="active"><img src="../../../assets/images/brand.png"></a>
    <a routerLink="/help/" routerLinkActive="active">Help</a>
    <a routerLink="/about/" routerLinkActive="active">About</a>
    <a routerLink="/collections/" routerLinkActive="active">Collections</a>
    <a routerLink="/stories/" routerLinkActive="active">Stories</a>
  </nav>
</div>-->

<nav>
  <label for="drop" class="toggle"><img src="./assets/images/hamburger.png"></label>
  <input type="checkbox" id="drop" [(ngModel)]="checked"/>
  <ul class="menu">
    <li class="mobile-only" (click)="closeMenu()"><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
    <li class="left" (click)="closeMenu()"><a routerLink="/stories/" routerLinkActive="active" (click)="closeMenu()">Stories</a></li>
    <li class="left" (click)="closeMenu()"><a routerLink="/about/" routerLinkActive="active">About</a></li>
    <li class="right" (click)="closeMenu()"><a routerLink="/team/" routerLinkActive="active">Team</a></li>
    <li class="right" (click)="closeMenu()"><a routerLink="/contact/" routerLinkActive="active">Contact</a></li>
    <li class="mobile-only" (click)="closeMenu()"><a routerLink="/about/" fragment="partners" routerLinkActive="active" (click)="closeMenu()">Partnership</a></li>
    <li class="mobile-only" (click)="closeMenu()"><a routerLink="/faq/" routerLinkActive="active" (click)="closeMenu()">FAQ</a></li>
    <li class="mobile-only" (click)="closeMenu()"><a routerLink="/terms-of-use/" routerLinkActive="active" (click)="closeMenu()">Terms of Use</a></li>
  </ul>
  <a class="home" id="logo" routerLink="/" routerLinkActive="active" (click)="closeMenu()">Ramblin</a>
  <!--<div class="under-construction" [style.display]="display" >
    <h1>Tread Lightly!</h1>
    <p>This website is still under construction, but feel free to look around.  If you have any feedback at all, don’t hesitate to let us know at <a class="email" href="mailto:hellow@ramblinstories.com">hello@ramblinstories.com</a></p>
    <img class="x" (click)="clearUnderConstruction()" src="./assets/images/x.svg">
  </div>-->
</nav>