img {
    height: 40px;
    padding: 12px 0;
}

nav {
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;

  font-family: 'Butler';
  color: #666;
  font-size: 20px;
  letter-spacing: 0.26px;

  text-transform: uppercase;
}

#logo {
  display: block;
  padding: 0 30px;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: 10;
  left: calc(50% - 130px);
  font-family: "Butler";
  font-weight: 800;
  font-size: 37px;
  color: #FF5209;
  letter-spacing: 0.48px;
  line-height: 52px;
  overflow: hidden;
  top: 3px;
}

#drop {
    display: none;
}

.toggle {
    display: none;
}

.menu {
  width: calc(100% - 40px);
}

.left {
  float: left;
}

.right {
  float: right;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: right;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  height: 55px;
}

nav ul li.mobile-only {
  display: none;
}

nav a {
  display: block;
  padding: 0 20px;
  font-size: 20px;
  line-height: 55px;
  text-decoration: none;
}

nav ul li ul li:hover { background: #eaebeb; }

nav a:hover { text-decoration: underline }

nav ul ul {
  display: none;
  position: absolute;
  top: 55px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -55px;
  left: 170px;
}

/*li > a:after { content: ' +'; }*/

@media all and (max-width : 740px) {

#logo {
  display: inline-block;
  position: initial;
  padding: 10px 20px 0 00px;
  width: 70%;
  text-align: right;
  vertical-align: top;
  /* RAMBLIN: */
  font-family: Butler-ExtraBold;
  font-size: 32px;
  letter-spacing: 0.37px;
  line-height: 45px;
}

.menu {
  width: calc(100% - 20px);
}

.left {
  float: none;
}

.right {
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: inline-block;
  width: calc(30% - 26px);
  box-sizing: border-box;
  padding: 0 10px;
  border: none;
  text-align: left;
  vertical-align: top;
  height: 55px;
}

.toggle img {
  padding: 10px 0 5px 0;
}

.toggle:hover { text-decoration: underline }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul li.mobile-only {
  display: block;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

/*nav a:hover,*/
 /*nav ul ul ul a { background-color: #cdcdcd; }*/

/*nav ul li ul li .toggle,*/
 /*nav ul ul a { background-color: #cdcdcd; }*/

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}
