<!--<div>
  <nav>
    <a class="home" routerLink="/" routerLinkActive="active"><img src="../../../assets/images/brand.png"></a>
    <a routerLink="/help/" routerLinkActive="active">Help</a>
    <a routerLink="/about/" routerLinkActive="active">About</a>
    <a routerLink="/collections/" routerLinkActive="active">Collections</a>
    <a routerLink="/stories/" routerLinkActive="active">Stories</a>
  </nav>
</div>-->

<nav>
  <div id="logo">
    <a class="home" routerLink="/" routerLinkActive="active" style="color: #ff8b92" (click)="closeMenu()">
      <!--<img src="./assets/images/brand.svg">-->
      <span style="font-family: 'Milkshake'; font-size: 38px;">Ramblin</span>
    </a>
  </div>
  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" [(ngModel)]="checked"/>
  <ul class="menu">
    <li (click)="closeMenu()"><a routerLink="/stories/" routerLinkActive="active" (click)="closeMenu()">Stories</a></li>
    <li (click)="closeMenu()"><a routerLink="/collections/" routerLinkActive="active">Collections</a></li>
    <li (click)="closeMenu()"><a routerLink="/about/" routerLinkActive="active">About</a></li>
    <li (click)="closeMenu()"><a routerLink="/help/" routerLinkActive="active">Help</a></li>
  </ul>
</nav>