<div class="banner">
  <h1 class="white">Meet the Team</h1>
</div>
<div class="background">
  <div class="content">
    <!--Raja-->
    <div class="person-card">
      <div class="image" id="raja"></div>
      <div class="info">
        <h3 class="name">Raja Badr-El-Din</h3>
        <div class="position">Co-Founder, CEO</div>
        <div class="credentials">BS Engineering: Product Design, Stanford University ‘15</div>
        <div class="quote">"It would seem like wisdom but for the warning in my heart"</div>
        <div class="email">raja@ramblinstories.com</div>
      </div>
    </div>

    <!--Mark-->
    <div class="person-card">
      <div class="image" id="mark"></div>
      <div class="info">
        <h3 class="name">Mark Valentine</h3>
        <div class="position">Co-Founder, CTO</div>
        <div class="credentials">BS Computer Science: Biocomputation, Stanford University ‘15</div>
        <div class="quote">“A wizard is never late, Frodo Baggins.  Nor is he early.  He arrives precisely when he means to!“</div>
        <div class="email">mark@ramblinstories.com</div>
      </div>
    </div>

    <!--Kevin-->
    <div class="person-card">
      <div class="image" id="kevin"></div>
      <div class="info">
        <h3 class="name">Kevin Rouff</h3>
        <div class="position">Co-Founder, COO</div>
        <div class="credentials">BS Science, Technology and Society, BA Russian Literature, Stanford University ‘15</div>
        <div class="quote">"You keep nasty chips"</div>
        <div class="email">kevin@ramblinstories.com</div>
      </div>
    </div>
  </div>
</div>

<div class="advisors">
  <h2>Advisors</h2>
</div>

<div class="background">
  <div class="content">

    <div class="advisor-card">
      <div class="image" id="raja"></div>
      <div class="info">
        <h3 class="name">Raja Badr-El-Din</h3>
        <div class="position">Co-Founder, CEO</div>
        <div class="quote">"It would seem like wisdom but for the warning in my heart"</div>
      </div>
    </div>

    <!--Mark-->
    <div class="advisor-card">
      <div class="image" id="mark"></div>
      <div class="info">
        <h3 class="name">Mark Valentine</h3>
        <div class="position">Co-Founder, CTO</div>
        <div class="quote">“A wizard is never late, Frodo Baggins.  Nor is he early.  He arrives precisely when he means to!“</div>
      </div>
    </div>

    <!--Kevin-->
    <div class="advisor-card">
      <div class="image" id="kevin"></div>
      <div class="info">
        <h3 class="name">Kevin Rouff</h3>
        <div class="position">Co-Founder, COO</div>
        <div class="quote">"You keep nasty chips"</div>
      </div>
    </div>

  </div>
</div>
<app-instagram></app-instagram>