<div class="banner">
  <h1 class="white">Meet the Team</h1>
</div>
<div class="background">
  <div class="content">
    <!--Raja-->
    <div class="person-card">
      <div class="image" id="raja"></div>
      <div class="info">
        <h3 class="name">Raja Badr-El-Din</h3>
        <div class="position">Co-Founder</div>
        <div class="credentials">BS Engineering: Product Design, Stanford University ‘15</div>
        <div class="quote">“It's a dangerous business, Frodo, going out your door. You step onto the road, and if you don't keep your feet, there's no knowing where you might be swept off to."</div>
        <div class="email">raja@ramblinstories.com</div>
      </div>
    </div>

    <!--Mark-->
    <div class="person-card">
      <div class="image" id="mark"></div>
      <div class="info">
        <h3 class="name">Mark Valentine</h3>
        <div class="position">Co-Founder</div>
        <div class="credentials">BS Computer Science: Biocomputation, Stanford University ‘15</div>
        <div class="quote">"A wizard is never late.  Nor is he early.  He arrives precisely when he means to!"</div>
        <div class="email">mark@ramblinstories.com</div>
      </div>
    </div>

    <!--Kevin-->
    <div class="person-card">
      <div class="image" id="kevin"></div>
      <div class="info">
        <h3 class="name">Kevin Rouff</h3>
        <div class="position">Co-Founder</div>
        <div class="credentials">BS Science, Technology and Society, BA Russian Literature, Stanford University ‘15</div>
        <div class="quote">"You keep nasty chips"</div>
        <div class="email">kevin@ramblinstories.com</div>
      </div>
    </div>

    <!--Holly-->
    <div class="person-card">
      <div class="image" id="holly"></div>
      <div class="info">
        <h3 class="name">Holly Jachowski</h3>
        <div class="position">Content Manager</div>
        <div class="credentials">BA Music, Science and Technology, Stanford University ‘15</div>
        <div class="quote">"If in dobt, Meriadoc, always follow your nose."</div>
      </div>
    </div>

    <!--Heba-->
    <div class="person-card">
      <div class="image" id="heba"></div>
      <div class="info">
        <h3 class="name">Heba Badr-El-Din</h3>
        <div class="position">Content Manager</div>
        <div class="credentials">BS Psychology: Child Development, Texas Christian Univerisy ‘17</div>
        <div class="quote">"Fool of a Took!"</div>
      </div>
    </div>

    <!--Truck-->
    <div class="person-card">
      <div class="image" id="truck"></div>
      <div class="info">
        <h3 class="name">The Milk Truck</h3>
        <!--<div class="position">Content Manager</div>-->
        <div class="credentials">’73 Chevy P30 Body, ’79 Chevy 250 Inline-6 Engine</div>
        <div class="quote">"I always like going South; somehow, it feels like going downhill."</div>
      </div>
    </div>
  </div>
</div>

<div class="advisors">
  <h2>Advisors</h2>
</div>

<div class="background">
  <div class="content">

    <div class="advisor-card">
      <div class="image" id="harrymoody"></div>
      <div class="info">
        <h3 class="name">Dr. Harry Moody</h3>
        <div class="position">Retired Vice President and Director of Academic Affairs AARP, Chairman of the Board Road Scholar (ElderHostel)</div>
        <div class="quote">Moody is the author of over 100 scholarly articles, as well as a number of books on aging. He is the recipient of the Lifetime Achievement Award from the American Society on Aging, the Robert Kahn Award for Successful Aging, and was named one of  “50 Visionaries Who Are Changing Your World" by Utne Reader Magazine.</div>
      </div>
    </div>

    <div class="advisor-card">
      <div class="image" id="anousheh"></div>
      <div class="info">
        <h3 class="name">Anousheh Ansari</h3>
        <div class="position">Co-Founder & CEO Prodea Systems, Cosmonaut</div>
        <div class="quote">An Iranian-American engineer and the First Iranian in space. Ansari was the fourth overall self-funded space traveler, and the first self-funded woman to fly to the International Space Station.</div>
      </div>
    </div>

    <div class="advisor-card">
      <div class="image" id="mramin"></div>
      <div class="info">
        <h3 class="name">Dr. Amin Badr-El-Din</h3>
        <div class="position">Chairman and CEO at Badr Investments, Group Chairman and Executive Director at Chescor Capital Limited,  PHD Stanford University</div>
        <div class="quote">Dr Amin Badr-El-Din, Founder and CEO of BADR Investments, is an International Affairs expert and one of the Middle East’s leading economic strategists.</div>
      </div>
    </div>

  </div>
</div>
<app-instagram></app-instagram>