<div class="background white">
  <div class="content story">
    <div *ngIf="story | async">
      <span *ngIf="(isAuth | async)"><button (click)="toEdit()">Edit</button></span>
      <h3>{{(story | async).title}}</h3>
      <!--<strong><i>{{(story | async).description}}</i></strong>-->
      <img *ngIf="(story | async)?.image_url" src="{{(story | async)?.image_url}}">
      <p>{{(story | async).text}}</p>
      
      <span *ngFor="let collectionKey of (story | async)?.featuredCollections">
        <app-related-stories [collectionKey]="collectionKey" [storyKey]="key"></app-related-stories>
      </span>
      <span *ngFor="let collectionKey of (story | async)?.collections">
        <app-related-stories [collectionKey]="collectionKey" [storyKey]="key"></app-related-stories>
      </span>
    </div>

    <div *ngIf="!(story | async)" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

  </div>
</div>
<!--<div class="background speckle">
  <div class="content">
    <div *ngIf="(story | async)?.featuredCollections.length > 0">
      Featured Collections:
      <span *ngFor="let key of (story | async).featuredCollections">
        <app-related-stories [collectionKey]="key" [storyKey]="(story | async).$key"></app-related-stories>
      </span>
    </div>
    <div *ngIf="(story | async)?.collections.length > 0">
      Collections:
      <span *ngFor="let key of (story | async).collections">
        {{key}} : {{(story | async).$key}}
        <app-related-stories [collectionKey]="key" [storyKey]="(story | async).$key"></app-related-stories>
      </span>
    </div>
  </div>
</div>-->