<div class="background" style="padding-bottom: 0">
  <div class="content story">
    <div *ngIf="story | async">
      <span *ngIf="(isAuth | async)"><br/><button (click)="toEdit()">Edit</button></span>
      <h1 class="title">{{(story | async).title}}</h1>
      <a routerLink="/map/{{(story|async)?.lat}}/{{(story|async)?.lng}}" routerLinkActive="active" *ngIf="(story|async)?.place" class="place"><img src="assets/images/marker.svg">{{(story | async)?.place}}</a>
      <a routerLink="/map/{{(story|async)?.lat}}/{{(story|async)?.lng}}" routerLinkActive="active" *ngIf="!(story|async)?.place && (story|async)?.lng && (story|async)?.lat" class="place"><img src="assets/images/marker.svg">{{(story | async)?.lat}}&deg;, {{(story | async)?.lng}}&deg;</a>
      <div class="social-media">
        <a (click)="facebook()"><img class="social-media-icon" src="assets/images/socialmedia/facebook-color.svg"></a>
        <a (click)="handleShare('twitter')" href="https://twitter.com/intent/tweet?url=https://ramblinstories.com{{this.router.url}}&text={{(story | async).title}}"><img class="social-media-icon" src="assets/images/socialmedia/twitter-color.svg"></a>
        <a (click)="handleShare('pinterest')" target="_blank" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=https://ramblinstories.com{{this.router.url}}/&media={{encodedURL}}&description={{(story | async)?.title}}" data-pin-shape="round"><img class="social-media-icon" src="assets/images/socialmedia/Pinterest-Color.svg"></a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="story | async">
  <img class="image" *ngIf="(story | async)?.image_url && (story | async)?.show_image" src="{{(story | async)?.image_url}}">
</div>
<div class="background" style="padding-top: 20px">
  <div class="content story">
    <div *ngIf="story | async">
      <p *ngIf="(!(story | async)?.delta)">{{(story | async).text}}</p>
    </div>
    <div id="delta"></div>
    <div *ngIf="story | async">
      <div class="social-media">
        <a (click)="facebook()"><img class="social-media-icon" src="assets/images/socialmedia/facebook-color.svg"></a>
        <a (click)="handleShare('twitter')" href="https://twitter.com/intent/tweet?url=https://ramblinstories.com{{this.router.url}}&text={{(story | async).title}}"><img class="social-media-icon" src="assets/images/socialmedia/twitter-color.svg"></a>
        <a (click)="handleShare('pinterest')" target="_blank" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=https://ramblinstories.com{{this.router.url}}/&media={{encodedURL}}&description={{(story | async)?.title}}" data-pin-shape="round"><img class="social-media-icon" src="assets/images/socialmedia/Pinterest-Color.svg"></a>
      </div>
    </div>
    <div *ngIf="!(story | async)" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
<app-email [backgroundColor]="'green'"></app-email>
<!--<span *ngFor="let collectionKey of (story | async)?.featuredCollections">
  <app-related-stories [collectionKey]="collectionKey" [storyKey]="key"></app-related-stories>
</span>
<span *ngFor="let collectionKey of (story | async)?.collections">
  <app-related-stories [collectionKey]="collectionKey" [storyKey]="key"></app-related-stories>
</span>
<span *ngIf="(story | async)?.featuredCollections == '' && (story | async)?.collections == ''">
  <app-related-stories [storyKey]="key"></app-related-stories>
</span>-->
<app-related-stories [collectionKey]="undefined" [storyKey]="key"></app-related-stories>
<app-share-a-story></app-share-a-story>
<!--<div class="background speckle">
  <div class="content">
    <div *ngIf="(story | async)?.featuredCollections.length > 0">
      Featured Collections:
      <span *ngFor="let key of (story | async).featuredCollections">
        <app-related-stories [collectionKey]="key" [storyKey]="(story | async).$key"></app-related-stories>
      </span>
    </div>
    <div *ngIf="(story | async)?.collections.length > 0">
      Collections:
      <span *ngFor="let key of (story | async).collections">
        {{key}} : {{(story | async).$key}}
        <app-related-stories [collectionKey]="key" [storyKey]="(story | async).$key"></app-related-stories>
      </span>
    </div>
  </div>
</div>-->