<div class="background">
  <div class="content">
    <h1 class="red">Contact Us</h1>
    <div class="company">
      <div class="contact-card">
        <h3>Ramblin LLC</h3>
        <div class="address">Ramblin LLC<br/>369 Montezuma Ave. #336<br/>Santa Fe, NM 87501</div>

        <div class="label">General Inquiries</div>
        <div class="email"><a href="mailto:hello@ramblinstories.com">conact@ramblinstories.com</a></div>

        <div class="label">Partnerships</div>
        <div class="email"><a href="mailto:partnership@ramblinstories.com">partnership@ramblinstories.com</a></div>

        <div class="label">Stories/Tips</div>
        <div class="email"><a href="mailto:stories@ramblinstories.com">stories@ramblinstories.com</a></div>
      </div>
    </div>

    <div class="individuals">
      <div class="contact-card">
        <h3>Raja Badr-El-Din</h3>
        <div class="position">Co-founder, CEO</div>
        <div class="email"><a href="mailto:raja@ramblinstories.com">raja@ramblinstories.com</a></div>
      </div>

      <div class="contact-card">
        <h3>Mark Valentine</h3>
        <div class="position">Co-founder, CTO</div>
        <div class="email"><a href="mailto:mark@ramblinstories.com">mark@ramblinstories.com</a></div>
      </div>

      <div class="contact-card">
        <h3>Kevin Rouff</h3>
        <div class="position">Co-founder, COO</div>
        <div class="email"><a href="mailto:kevin@ramblinstories.com">kevin@ramblinstories.com</a></div>
      </div>
    </div>

  </div>
</div>