/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100%;
    color: #666;

    font-family: "Georgia", "Times New Roman", Times, serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ql-video {
    width: 100%;
}

.ql-audio {
    width: 100%;
    height: auto;
}

/*p {
    -webkit-font-smoothing: subpixel-antialiased;
}*/

.ql-font-cormorant-garamond {
    font-family: "Georgia", "Times New Roman", Times, serif;
}

.ql-container {
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 20px;
    color: #666666;
    letter-spacing: 0.26px;
    line-height: 35px;
}

.centered {
    text-align: center;
}

div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    width: 640px;
    height: 360px;
    margin: 0 auto;
}

a {
    cursor: pointer;
    color: inherit
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

@font-face {
    font-family: "Milkshake";
    src: url(/assets/fonts/Milkshake.ttf);
}

@font-face {
    font-family: "Butler";
    src: url(/assets/fonts/butler_ultra_light-webfont.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url(/assets/fonts/butler_light-webfont.woff);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url(/assets/fonts/butler_regular-webfont.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url(/assets/fonts/butler_medium-webfont.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url(/assets/fonts/butler_bold-webfont.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url(/assets/fonts/butler_extrabold-webfont.woff);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Butler";
    src: url(/assets/fonts/butler_black-webfont.woff);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Georgia";
    src: url(/assets/fonts/Georgia.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Georgia";
    src: url(/assets/fonts/Georgia Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Georgia";
    src: url(/assets/fonts/Georgia Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Georgia";
    src: url(/assets/fonts/Georgia Bold Italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Times New Roman";
    src: url(/assets/fonts/Times New Roman.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url(/assets/fonts/Times New Roman Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Times New Roman";
    src: url(/assets/fonts/Times New Roman Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url(/assets/fonts/Times New Roman Bold Italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Phosphate";
    src: url(/assets/fonts/Phosphate-Inline.ttf);
}

@font-face {
    font-family: "Phosphate White"; 
    src: url(/assets/fonts/Phosphorious.otf);
}

h1 {
    font-family: "Phosphate";
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 0.65px;
}

.ql-editor {
    padding-left: 0;
    padding-right: 0;
}

.ql-container h2 {
    font-size: 2em;
}

.ql-container h3 {
    font-size: 1.5em;
}

.ql-container h4 {
    font-size: 1.17em;
}

.ql-container h5 {
    font-size: 1em;
}

.ql-container h6 {
    font-size: .83em;
}

h2, h3, h4, h5, h6 {
    font-family: "Butler";
}

.background {
    width: 100%;
    padding: 40px 10px;
    margin: 0;
    border: 0;
}

.background .content{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.load-more {
    height: 40px;
    width: 200px;
    background: #FE6859;
    text-align: center;
    color: #fff;
    padding: 7px 0;
    border-radius: 20px;
    font-weight: 500;
    font-family: "Butler";
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.26px;
    margin: 33px auto;
}

.load-more:hover {
    cursor: pointer;
    background: #E25B4E;
}

.spinner {
  margin: 40px auto 40px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ccc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.red {
    color: #F8503F;
}

.white {
   color:  #fff;
}

.pointer {
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .background {
        padding: 10px;
    }
}