/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    border: 0;
    padding: 0;
    /*background-color: #fafafa;*/
    height: 100%;

    font-family: 'Cormorant Garamond', serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;

    color: #444444;
    background: #fdfcfc;
    background-image: url("./assets/images/speckle2.png");
    background-repeat: repeat;
}

.ql-font-cormorant-garamond {
    font-family: 'Cormorant Garamond', serif;
}

.ql-container {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
}

.state-back {
    background-image: url("./assets/images/state-outline.png");
    background-repeat: repeat;
}

div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    width: 640px;
    height: 360px;
    margin: 0 auto;
}

a {
    cursor: pointer;
    color: inherit
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

@font-face {
    font-family: 'Harlow';
    src: url("./assets/fonts/Harlow.ttf");
}

@font-face {
    font-family: "HarlowSolid";
    src: url("./assets/fonts/HarlowSolid.ttf");
}

@font-face {
    font-family: 'FabfeltScript';
    src: url("./assets/fonts/fabfeltscript.bold.ttf");
}

@font-face {
    font-family: "WisdomScript";
    src: url("./assets/fonts/Wisdom Script AJ.otf");
}

@font-face {
    font-family: "Milkshake";
    src: url("./assets/fonts/Milkshake.ttf");
}


.background {
    width: 100%;
    padding: 40px 10px;
    margin: 0;
    border: 0;
}

.background .content{
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

.background.speckle {
    background: #f5f4f3;
    background-image: url("./assets/images/speckle.png");
    background-repeat: repeat;
}

.background.white {
    background: #ffffff;
}

.load-more {
    height: 40px;
    width: 160px;
    background: #74c7b6;
    text-align: center;
    margin: 33px auto;
    font-size: 20px;
    /*border: 1px solid #eaeaea;*/
    color: #fff;
    padding: 4px 0;
    border-radius: 20px;
}

.load-more:hover {
    cursor: pointer;
    background: #63a99b;
}

.spinner {
  margin: 40px auto 40px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ccc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media only screen and (max-width: 640px) {
    .background {
        padding: 10px;
    }
}