<div class="banner" [style.background-color]="background_color" [style.background-image]="background_url">
    <div class="banner-text">
        <h1>Not older, just better.</h1>
        Old-timers have the best stories.  We’re traveling across America to share them with you.
    </div>
</div>
<!--<div class="who-are-we">
    <a routerLink="/about/" routerLinkActive="active"><img src="./assets/images/who-are-we.svg"></a>
</div>-->
<app-email [backgroundColor]="'green'"></app-email>
<div class="background speckle">
    <div class="content">
        <!--<div style="text-align:center">
            <svg width="54px" height="69px" viewBox="125 10 54 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M145.815558,14 L168.412735,14 L151.087635,34.3670014 C151.087635,34.3670014 162.288898,38.8978328 162.288898,51.5167062 C162.288898,64.1355797 151.559925,74 142.15136,74 C132.742795,74 129,65.7435176 129,61.9001859 C129,58.0568542 131.839599,48.9641982 145.115401,48.9641982 C158.391204,48.9641982 174.777391,48.9641982 174.777391,48.9641982" id="Line" stroke="#8ec6ba" stroke-width="8" stroke-linecap="round" fill="none"></path>
            </svg>
        </div>-->
        <div>
            <span *ngFor="let storycard of (featuredStoryCards | async); let first = first; let last = last;">
                <!--<div *ngIf="first" class="title" style="font-size: 40px;">Story of the Day</div>-->
                <app-featured-story-card  *ngIf="first" [storycard]="(storycard | async)" [noShowStar]="false"></app-featured-story-card>
                <!--<div *ngIf="first" class="title" style="font-size: 38px;">Other Stories</div>-->
                <app-story-card  *ngIf="!first && !last" [storycard]="(storycard | async)" [noShowStar]="true" [position]="'left'"></app-story-card>
                <app-story-card  *ngIf="last" [storycard]="(storycard | async)" [noShowStar]="true" [position]="'right'"></app-story-card>
                <hr *ngIf="last"/>
                <a routerLink="/stories/" routerLinkActive="active"><div *ngIf="last" class="load-more">More Stories</div></a>
            </span>
        </div>
        <div *ngIf="!(featuredStoryCards | async)" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>

<div class="donate">
    <span class="donate-label">Want to help us with our mission?</span>
    <a (click)="handleOutboundLinkClicks('donate')" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=54MM2PE23CTEC"><div class="donate-button">Donate!</div></a>
</div>

<!--<app-email></app-email>-->
<!--<div class="background speckle">
    <div class="content">
        <div>
            <span *ngFor="let collection of (collections | async); let first = first" (click)="goToDetail(collection.$key)">
                <div *ngIf="first" class="title" style="font-size: 40px;">Collections</div>
                <app-collection-card [collectionString]="collection"></app-collection-card>
            </span>
        </div>
    </div>
    <div *ngIf="!(collections | async)" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
</div>-->
<div class="background speckle">
    <div class="content">
        <!--<div style="text-align:center">
            <svg width="54px" height="69px" viewBox="125 10 54 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M145.815558,14 L168.412735,14 L151.087635,34.3670014 C151.087635,34.3670014 162.288898,38.8978328 162.288898,51.5167062 C162.288898,64.1355797 151.559925,74 142.15136,74 C132.742795,74 129,65.7435176 129,61.9001859 C129,58.0568542 131.839599,48.9641982 145.115401,48.9641982 C158.391204,48.9641982 174.777391,48.9641982 174.777391,48.9641982" id="Line" stroke="#8ec6ba" stroke-width="8" stroke-linecap="round" fill="none"></path>
            </svg>
        </div>-->
        <div>
            <span *ngFor="let storycard of (featuredStoryCardsMiddle | async); let index = index; let last = last">
                <app-story-card-round  *ngIf="index > 2" [storycard]="(storycard | async)"></app-story-card-round>
                <hr *ngIf="last"/>
                <a routerLink="/stories/" routerLinkActive="active"><div *ngIf="last" class="load-more">More Stories</div></a>
            </span>
        </div>
        <div *ngIf="!(featuredStoryCardsMiddle | async)" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<app-instagram></app-instagram>
<app-share-a-story></app-share-a-story>
<div class="background speckle">
    <div class="content">
        <!--<div style="text-align:center">
            <svg width="54px" height="69px" viewBox="125 10 54 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M145.815558,14 L168.412735,14 L151.087635,34.3670014 C151.087635,34.3670014 162.288898,38.8978328 162.288898,51.5167062 C162.288898,64.1355797 151.559925,74 142.15136,74 C132.742795,74 129,65.7435176 129,61.9001859 C129,58.0568542 131.839599,48.9641982 145.115401,48.9641982 C158.391204,48.9641982 174.777391,48.9641982 174.777391,48.9641982" id="Line" stroke="#8ec6ba" stroke-width="8" stroke-linecap="round" fill="none"></path>
            </svg>
        </div>-->
        <div>
            <span *ngFor="let storycard of (featuredStoryCardsLast | async); let index = index; let last = last">
                <app-story-card  *ngIf="index > 5 && (index % 2) == 0" [storycard]="(storycard | async)" [noShowStar]="true" [position]="'left'"></app-story-card>
                <app-story-card  *ngIf="index > 5 && (index % 2) == 1" [storycard]="(storycard | async)" [noShowStar]="true" [position]="'right'"></app-story-card>
                <hr *ngIf="last"/>
                <a routerLink="/stories/" routerLinkActive="active"><div *ngIf="last" class="load-more">More Stories</div></a>
            </span>
        </div>
        <div *ngIf="!(featuredStoryCardsLast | async)" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<app-on-the-road></app-on-the-road>