.title {
    text-align: center;
    font-family: 'Milkshake';
    color: #7a7a7a;
}

.banner {
    width: 100%;
    padding: 40px 60px;
    text-align: center;
    background: #F8503F;
}

.banner-text {
    text-align: left;
    max-width: 840px;
    margin: 0 auto;
    padding: 40px;
    color: #fff;
    font-family: "Butler";
    font-weight: 700;
    font-size: 24px;
}

h1 {
    margin: 0 auto 15px auto;
}

a {
    text-decoration: none;
}

#Line {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: dash 4s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

hr {
    margin: 80px 0;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-top: 1px solid #aeaeae;
    border-right: 1px solid #aeaeae;
}

.load-more {
    margin-top: -100px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 640px) {
    .banner {
        padding: 30px 20px;
    }

    .banner-text {
        padding: 20px;
        font-size: 22px;
        /*border-radius: 5px;*/
    }

    h1{
        font-size: 45px;
        margin-bottom: 10px;
    }
}